<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="js/lib/axios.min.js"></script>
	<script type="text/javascript" src="js/lib/d3.v4.min.js"></script>
	<script type="text/javascript" src="js/lib/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<link rel="stylesheet" type="text/css" href="css/bulma-extensions.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8"/>
	<title>Greasy Web</title>
	<style type="text/css">
		.has-bg-img { background: url('images/IMG_3277b.jpg')center center; background-size:cover; }
	</style>
</head>
<body class="has-background-light">
	<div id="events">
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="index.html">
				<span class="icon is-small" style="width: 3vw;">
					<i class="fas fa-home"></i>
				</span>
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerIsActive}" v-on:click="burgerIsActive = !burgerIsActive">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu" v-bind:class="{'is-active': burgerIsActive}">
				<div class="navbar-start">
					<a class="navbar-item is-active" href="events.html">Events</a>
					<a class="navbar-item" href="music.html">Music</a>
					<a class="navbar-item" href="account.html">Account</a>
					<a class="navbar-item" href="officer.html">Flex on 'em</a>
				</div>
				<div class="navbar-end"></div>
			</div>
		</nav>
		<div> <!-- container -->
			<section class="section">
				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="box">
								<table class="table is-fullwidth is-hoverable">
									<thead></thead>
									<tbody>
										<tr v-for="event in events" v-on:click="loadDeets(event.id)">
											<td>{{ event.name }}</td>
											<td>{{ moment.unix(event.call).format("MMM D h:mm A") }}</td>
											<td>{{ event.type }}</td>
											<td>{{ event.confirmed }}</td>
										</tr>
									</tbody>
									<tfoot></tfoot>
								</table>
							</div>
						</div>
						<div class="column">
							<div class="box" v-if="deets">
								<h1>{{deets.name}}</h1>
								<p>Be there at: {{ moment.unix(deets.call).format("LLLL") }}</p>
								<p>{{ deets.comments }}</p>
								<p>Confirmed: {{ deets.confirmed }}</p>
								<p>Should Attend: {{ deets.shouldAttend }}</p>
								<p>Attended: {{ deets.didAttend }}</p>
								<p>Location: {{ deets.location }}</p>
								<p v-if="deets.perform">Perform at: {{ moment.unix(deets.perform).format("h:mm A") }}</p>
								<p>Points: {{ deets.points }}</p>
								<p>Section: {{ deets.section }}</p>
								<p>Type: {{ deets.type }}</p>
								<p v-if="deets.uniform">Uniform: {{ deets.uniform }}</p>
							</div>
							<div v-else class="box">
								<p>Select an event</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div><!-- container -->
	</div><!-- vue -->
</body>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/events.js"></script>
</html>
