<html>
<head>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
	<script type="text/javascript" src="js/lib/axios.min.js"></script>
	<script type="text/javascript" src="js/lib/d3.v4.min.js"></script>
	<script type="text/javascript" src="js/lib/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<link rel="stylesheet" type="text/css" href="css/bulma-extensions.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8"/>
	<title>Greasy Web</title>
	<style type="text/css">
		.has-bg-img { background: url('images/IMG_3277b.jpg')center center; background-size:cover; }
	</style>
</head>
<body class="has-background-light">
	<div id="repertoire">
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="index.html">
				<span class="icon is-small" style="width: 3vw;">
					<i class="fas fa-home"></i>
				</span>
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerIsActive}" v-on:click="burgerIsActive = !burgerIsActive">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu" v-bind:class="{'is-active': burgerIsActive}">
				<div class="navbar-start">
					<a class="navbar-item is-active" href="events.html">Events</a>
					<a class="navbar-item" href="music.html">Music</a>
					<a class="navbar-item" href="account.html">Account</a>
					<a class="navbar-item" href="officer.html">Flex on 'em</a>
				</div>
				<div class="navbar-end"></div>
			</div>
		</nav>
		<div> <!-- container -->
			<section class="section">
				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="box">
								<h1 class="title is-4">Current</h1>
								<table class="table is-fullwidth is-hoverable">
									<tbody>
										<tr v-for="song in current" @click="sel = song">
											<td>{{ song.title }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box">
								<h1 class="title is-4">Other</h1>
								<table class="table is-fullwidth is-hoverable">
									<tbody>
										<tr v-for="song in other" @click="sel = song">
											<td>{{ song.title }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="column">
							<div class="box">
								<div v-if="sel">
									<h1 class="title is-4">{{ sel.title }}</h1>
									<strong>Key:</strong> {{ sel.key }} — <strong>Starting pitch:</strong> {{ sel.pitch }}
									<p>{{ sel.info }}</p>
									<table class="table is-fullwidth">
										<tr v-for="link in sel.links">
											<td>{{ link.type }}</td>
											<td>
												<a :href="getLink(link.type, link.target)">{{ link.name }}</a>
											</td>
										</tr>
									</table>
								</div>
								<p v-else>Select a song.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div><!-- container -->
	</div><!-- vue -->
</body>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/music.js"></script>
</html>

