tooltip.is-tooltip-primary::before {
	background: rgba(0,209,178,.1);
}

table.is-fullwidth.is-hoverable:hover {
	cursor: pointer;
}

html, body, #app, section, .container, .columns {
	height: 100%;
}
