.oldgold-text {
	color: #b4a46a;
}
tooltip.is-tooltip-primary::before {
	background: rgba(0,209,178,.1);
}

table.is-fullwidth.is-hoverable:hover {
	cursor: pointer;
}

html, body, #app {
	height: 100%;
}

html {
	background-color: #fafafa;
}

div.container.fullheight {
	height: 80%;
}

div.container.fullheight div.columns {
	height: 100%;
}
